# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_12.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_11.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_10.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_09.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_08.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_07.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_06.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_05.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_04.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_03.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_02.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_tavg_01.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_12.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_11.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_10.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_09.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_08.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_07.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_06.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_05.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_04.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_03.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_02.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_srad_01.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_12.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_11.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_10.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_09.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_08.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_07.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_06.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_05.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_04.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_03.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_02.tif
worldclim_data/climate/wc2.1_10m/wc2.1_10m_prec_01.tif
PF_baseline.tif
ocs_0-30cm_mean.tif
MOD17A3H_Y_NPP_2023-01-01_rgb_720x360.TIFF
MOD17A3H_Y_NPP_2023-01-01_rgb_3600x1800.TIFF
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_fraction.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_minerotrophic.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_ombrotrophic.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_SOC_hg_per_sqm.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_SOC_hg_per_sqm.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_SOC_hg_per_sqm.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_SOC_hg_per_sqm.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_SOC_hg_per_sqm.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_SOC_hg_per_sqm.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_TN_gram_per_sqm.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_TN_gram_per_sqm.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_TN_gram_per_sqm.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_TN_gram_per_sqm.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_TN_gram_per_sqm.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histel_TN_gram_per_sqm.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_fraction.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_minerotrophic.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_ombrotrophic.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_SOC_hg_per_sqm.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_TN_gram_per_sqm.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_TN_gram_per_sqm.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_TN_gram_per_sqm.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_TN_gram_per_sqm.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_TN_gram_per_sqm.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Histosol_TN_gram_per_sqm.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tfw
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tif
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tif.aux.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tif.ovr
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tif.vat.cpg
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tif.vat.dbf
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/Mean_potential_peat_depth_cm.tif.xml
Northern_peatland_maps_Hugeliusetal2020/Hugelius_etal_2020_PNAS_supplement_grids_10km_Int_WAED/ReadMe.txt
Peat-ML_global_peatland_extent.nc
ANPPmodel
MODIS vs on site
modisModel
PNNL Symposium Slides 2024.pdf
